absl-py
asgiref
astunparse
audioread
bcrypt
beautifulsoup4
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cycler
decorator
deep-translator
Django>=4.2,<5.1
django-cors-headers
djangorestframework
djangorestframework_simplejwt
et_xmlfile
Flask
flatbuffers
fonttools
fpdf
gast
google-auth
google-auth-oauthlib
google-pasta
googletrans
grpcio
h11
h2
h5py
hpack
hstspreload
httpcore
httpx
hyperframe
idna
importlib_metadata
itsdangerous
Jinja2
joblib
keras
kiwisolver
lazy_loader
libclang
librosa
lightgbm
llvmlite<0.61  # Compatible avec numba stable
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
msgpack
mssql-django
mysql-connector
namex
noisereduce
numba<0.61
numpy<2.0
oauthlib
openpyxl
opt_einsum
optree
packaging
pandas<2.2  # Pour éviter erreurs Meson
pillow
platformdirs
polars
pooch
protobuf
py4j
pyasn1_modules
pyasn1
pycparser
pydub
Pygments
PyJWT
PyMySQL
pyodbc
pyparsing
pyspark
python-dateutil
pytz
requests
requests-oauthlib
rfc3986
rich
rsa
scikit-learn
scipy<1.13  # Compatible avec numpy<2
seaborn
six
sniffio
soundfile
soupsieve
soxr
SQLAlchemy
sqlparse
standard-aifc
standard-chunk
standard-sunau
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
xgboost
zipp
